// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: url('/assets/symphony.png');
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

// Structural styles
br.clear {
  clear: both;
}

.btn {
  border-radius: 0px !important;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

#map {
  height: 300px;
}

.navbar.navbar-inverse {
  background: url('/assets/footer_lodyas.png');
  border-radius: 0px;
  box-shadow: 0px 2px 4px #777;
}

.pagination span, .pagination a {
  border-radius: 0px !important;
}

.index-row div{
  margin: 10px 0;
}

//Text styles
h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border: solid 1px #ff3333;
  padding:8px;
}

.navbar-inverse .navbar-brand {
  color: #1ABC9C;
  font-family: "pacificoregular", sans-serif;
  font-size: 28px;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #1ABC9C;
  border-color: #1ABC9C;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 20px 10px;
  padding: 10px;
  quotes: "\201C""\201D";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

//Image styles

.thumbnail {
  border: 0;
  border-radius: 0;
  padding: 0;
}

.modal-photo {
  max-width: 100%;
}

.index-photo {
  margin: 0;
}
