<div id="nomster-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#nomster-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#nomster-carousel" data-slide-to="1"></li>
    <li data-target="#nomster-carousel" data-slide-to="2"></li>
    <li data-target="#nomster-carousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag 'slider1.jpg', class: 'img-responsive' %>
      <div class="carousel-caption">
        Find the best food in Alameda.
      </div>
    </div>
    <div class="item">
      <%= image_tag 'slider2.jpg', class: 'img-responsive' %>
      <div class="carousel-caption">
        Have a great meal, then take in a movie at the historic Alameda Theatre.
      </div>
    </div>
    <div class="item">
      <%= image_tag 'slider3.jpg', class: 'img-responsive' %>
      <div class="carousel-caption">
        Spend a fortune on a silly house on the bay, then eat somewhere, I guess.
      </div>
    </div>
    <div class="item">
      <%= image_tag 'slider4.jpg', class: 'img-responsive' %>
      <div class="carousel-caption">
        Tour the USS Hornet and then eat. Or vice versa. Whatever.
      </div>
    </div>
  </div>
</div>
